body{
    background-image: url("background gumaranda.jpg");
    background-size: cover;
    font-family: "Montserrat Alternates", sans-serif;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
}
img{
    width: 800px;
    height: 500px;
    border-radius: 5px;
}
a{
    color: rgb(255, 255, 255);
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
}
a:hover{
 background-color: rgba(0, 0, 0, 0.205);   
}
h5{
    color: blue;
}
p{
    color: green;
}
h2{
    color: blueviolet;
    text-align: center;
}
nav{
    background-color: rgba(0, 0, 0, 0.274);
    text-align: center;
}
.hero{
    background-image: url("Trees gumaranda.jpg");
    /* Нужно для того, чтобы margin был внутри леса, а не снаружи */
    overflow: hidden;
}
.hero h1{
    margin: 100px 0 50px;
    font-size: 50px;
}
.hero p{
    background-color: rgba(255, 255, 255, 0.801);
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 15px ;
    border-radius: 10px;
}
.hero a{
    display: block;
    width: 75px;
    text-align: center;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 10px;
}
.info{
    background-color: pink;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.aboutus img{
    /* Нужно, чтобы выравнивать теги со свойством display: inline-block по середине по вертикали */
    vertical-align: middle;
}
.aboutus{
    text-align: center;
}
.info h5{
    font-size: 20px;
}
.info p{
    text-align: left;
}
.factory p{
    text-align: center;
}
.country{
background-image: url("new zealanad.jpg");
width: 27%;
background-size: cover;
display: inline-block;
text-align: center;
margin: 10px;
border-radius: 5px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.496);
}
#Germany{
    background-image: url("geramny.jpg");
}
#Norway{
    background-image: url("norway.jpg");
}
.factory{
    text-align: center;
}
.country h6{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}
.country ul{
    background-color: rgba(255, 255, 255, 0.889);
    list-style: none;
    line-height: 30px;
}
.country a{
background-color: white;
line-height: 40px;
padding: 0 15px;
margin: 20px 0;
border-radius: 5px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.442);
color: #222;
text-decoration: none;
display: inline-block;
}
.person{
width: 25%;
box-shadow: 0 0 15px #2222226f;
padding: 15px;
margin: 5px;
border-radius: 10px;
display: inline-block;

}
.person img{
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    object-fit: cover;
}
.people{
    text-align: center;
    width: 85%;
margin: auto;
}
.feedback p{
    text-align: center;
}
.feedback input{
    display: block;
    margin: auto;
    margin-bottom: 8px;
    border: none;
    height: 40px;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    font-family: "Montserrat Alternates", sans-serif;
}
.feedback textarea{
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    width: 90%;
    max-width: 400px;
    font-family: "Montserrat Alternates", sans-serif;
}
.feedback button{
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 40px;
    background-color: white;
    padding: 0 15px;
    font-family: "Montserrat Alternates", sans-serif;
}